---
import PostList from '../components/PostList.astro'
import ProfileHero from '../components/ProfileHero.astro'
import SiteFooter from '../components/SiteFooter.astro'
import SiteHeader from '../components/SiteHeader.astro'
import { siteConfig } from '../config/constants'
import { getLatestPosts } from '../lib/posts'
import Layout from '../layouts/Layout.astro'

const posts = await getLatestPosts(5)
---

<Layout title={siteConfig.name} description={siteConfig.description}>
  <SiteHeader currentPath={Astro.url.pathname} />

  <main class="container-page content-enter">
    <ProfileHero />
    <PostList posts={posts} mode="home" />
  </main>

  <SiteFooter />
</Layout>
