---
import { siteConfig } from '../config/constants'
---

<footer class="mt-auto flex flex-col justify-between gap-4 py-8 text-sm text-tertiary sm:flex-row sm:py-10">
  <div>{siteConfig.footer.copyright}</div>
  <div>{siteConfig.footer.poweredBy}</div>
</footer>
